# Ignore everything by default
*

# Allow specific files/directories for the website and GitHub Actions
!index.html
!privacy.html
!app-ads.txt
!sitemap.xml
!robots.txt
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*

# If you have asset folders for the website, uncomment below
#!assets/

